/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-left: 10px;
    margin-bottom: 70px;
    margin-right: 50px
    background-color: aliceblue;
}

/* HEADER */

/* Header Banner */

.logo{
  width: 50px;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 3px;
}

.logo-text {
    font-size: 40px;
    vertical-align: middle ;
}
/* Header Banner */

/* Buttons */
.container2{
   width: 80%;
   margin: 0 auto;
   
}

.button1{
    color: aliceblue;
    padding: 8px 8px;
    border-radius: 5px;
    background-color: hsl(204deg 85.86% 61.18%) 
}

.button2 {
    color: hsl(202.5deg 10.81% 85.49%);
    padding: 8px 8px;
    border: 1px solid hsl(202.5deg 10.81% 85.49%);
    border-radius: 5px;
}
/* Buttons */

/* HEADER */

/* MAIN */
/* MAIN */
