/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    margin-left: 10px;
    margin-bottom: 40px;
    background-color: aliceblue;
    margin-right: 50px
    
}

/* HEADER */

/* Header Banner */

.logo{
  width: 50px;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 3px;
}

.logo-text {
    font-size: 40px;
    vertical-align: middle ;
}
/* Header Banner */

/* Buttons */
.container2{
   width: 80%;
   margin: 0 auto;
   background-color: aliceblue;
   padding: 20px 20px;
}

.button1{
    color: aliceblue;
    padding: 8px 8px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: hsl(204deg 85.86% 61.18%) 
}

.button2 {
    color: hsl(202.5deg 10.81% 85.49%);
    padding: 8px 8px;
    border: 1px solid hsl(202.5deg 10.81% 85.49%);
    border-radius: 5px;
}
/* Buttons */
/* HEADER */

/* MAIN */
/* List bullets */
h2{
    margin-left: 50px;
    line-height: 50px
}

ul{
    margin-left: 50px;
    list-style-type: circle;
    line-height: 50px
}
/* List checks */

/* Colored text */
 .edit{
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 3px;
    margin-top: 10px;
    background-color: hsl(204deg 85.86% 61.18%) 
 }

 .goals{
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 3px;
    margin-top: 10px;
    background-color: hsl(262.11deg 67.86% 67.06%)
 }

 .rec {
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 3px;
    margin-top: 10px;
    background-color: hsl(165deg 42.2% 57.25%);
 }

 .mobile {
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 3px;
    margin-top: 10px;
    background-color: hsl(33.61deg 88.02% 57.45%);
 }

 .web {
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 3px;
    margin-top: 10px;
    background-color:hsl(328.21deg 60% 61.76%)
 }

 .sales {
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 3px;
    margin-top: 10px;
    background-color: hsl(69.2deg 68.2% 46.86%)
 }

/* Colored text */

/* MAIN */
